<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fav</title>
</head>
<body> 
    <% dataAll.forEach((ele,i) =>{%>
        <div style="width: max-content;">
            <!-- <img src="<%= ele.image%>" alt="image" height="200px" > -->
            <p><%= ele.image%></p>
            <h3> name: <%= ele.name%></h3>
            <p>patronus: <%= ele.patronus%></p>
            <p> alive:<%= ele.alive%></p>
            <button><a href="/my-character/:id">show details</a></button>
        </div>
   <% })%>
</body>
</html>